# Byte-compiled / optimized / DLL files
**/__pycache__/

# .vscode
.vscode/

# Environments
.env
.venv
.renv
env/
venv/
renv/
# renv lockfile
renv.lock
**/renv.lock

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# data and figures folder within each folder is ignored
**/data/
**/figures/
**/sandbox/
