# Byte-compiled / optimized / DLL files
**/__pycache__/

# .vscode
.vscode/

# Environments
.env
.venv
env/
venv/

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# html outputs
**/*.html

# data and figures folder within each folder is ignored
**/data/
**/figures/
**/sandbox/
